   
        <html>
        <head></head>
        <body>
            <h3> 더하기 : <%= @sum%>  </br>빼기 : <%= @minus%>  </br>
            곱하기 : <%= @multi%> </br> 나누기 : <%= @divide%> </br> </h3>
        </body>
    </html>
    